body,
html,
#root {
  height: 100%;
}

.App {
  background-color: #e2e2e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  text-align: initial;
}

.task-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
